<div class="card border-primary mb-3">
    <div class="card-header">Clients</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Client List</h5>
  
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>last name</th>
            <th>date</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.created}}</td>
          </tr>
  
        </tbody>
  
      </table>
  
  
    </div>
  </div>